.inbox-list-header {
  .flex-vertical-centered;

  height: @inbox-list-header-height;
  padding: 0 20px;
  color: lighten(@secondaryTextColor, 20%);

  .clickable:not(.text-danger):not(a):not(.menu-root).mdi, .mdi {
    font-size: 1.4em;

    &.active {
      color: @primaryColor;
    }

    &:hover {
      color: @text-color;
      background-color: transparent;
    }
  }

  inbox-list-group-toggle-selection {
    margin-right: 1em;
  }

  .inbox-list-header-actions {
    margin-left: auto;
    .flex-vertical-centered;

    > * {
      margin-left: 1em;
    }
  }
}

@media (min-width: @screen-md-min) {
  .inbox-list-header {
    padding: 0 15px;
  }
}
