.inbox-root {
  .inbox-identity-form {
    .inbox-identity-form-signature {
      .form-group {
        width: 100%;
      }
    }
  }
}

.inbox-identity-form .inbox-identity-form-signature .esn-summernote .note-editing-area {
  position: relative !important; // !important is necessary to overrride composer's styling
  top: 0 !important; // !important is necessary to overrride composer's styling
}
