.card
  .quarantined-email-content
    .quarantined-email-sender-avatar
      esn-avatar(ng-if='::$ctrl.email.sender._id', user-id="::$ctrl.email.sender._id" )
      esn-avatar(ng-if='::!$ctrl.email.sender._id', user-email="::$ctrl.email.sender.email" )
    .quarantined-email-header(
      esn-modal-launcher='/unifiedinbox/app/components/quarantine/modal/inbox-quarantine-email-view.html'
    )
      .quarantined-email-subject
        span {{ ::$ctrl.email.headers.Subject[0] }}
      .quarantined-email-sender
        inbox-emailer(emailer="::$ctrl.email.sender")
    .quarantined-email-date-and-actions
      .quarantined-email-sent-date
        span {{ ::$ctrl.email.date | inboxItemDate }}
      .quarantined-email-actions
        a.clickable(ng-click='$ctrl.download()', title=__('Download (.eml)'))
          i.mdi.mdi-download
