.inbox-filter-input.fg-line
  input.inbox-filter-input-field.form-control(auto-focus="$ctrl.autoFocusInput || false", ng-model="$ctrl.filter", ng-model-options="{ debounce: 200 }", ng-change="$ctrl.onChange({ $filter: $ctrl.filter })" placeholder=__('Search') + "\u2026")
  i.inbox-filter-input-clear.clickable.mdi.mdi-close-circle(ng-click="$ctrl.clearFilter($event); $ctrl.onBlur()", ng-show="$ctrl.autoFocusInput || $ctrl.filter")
