hr
.listview
  .lv-item.clickable.inbox-item-with-icon.folder-with-icon.toggle-submenu.waves-effect.waves-classic(title=__('Social networks'), esn-toggle, ng-class="{ 'toggle-empty': !$ctrl.hasSidebarSocialNetworks }")
    .badge-container
      .caret-submenu(ng-if="$ctrl.hasSidebarSocialNetworks")
        i.mdi.mdi-menu-down
      i.inbox-icon.mdi.mdi-mail-ru
    .title.ellipsis
      span #{__('Social networks')}
    settings-overlay(ng-click="$event.stopImmediatePropagation(); hideAside();")
      inbox-social-networks-settings
  ul.nopadding
    .inbox-sidebar-dd(dynamic-directive='inbox-sidebar-social-networks-item')