.inbox-identity.card
  .inbox-identity-header.flex-vertical-centered
    .inbox-identity-description.ellipsis {{ $ctrl.identity.description }}
    ul.actions
      li.dropdown
        a(href="" data-toggle="dropdown" aria-expanded="false")
          i.mdi.mdi-dots-vertical
        ul.dropdown-menu.dropdown-menu-right
          li
            a(href="", ng-click="$ctrl.onEditBtnClick()") #{__('Edit')}
          li
            a(href="", ng-if="!$ctrl.identity.default" ng-click="$event.stopPropagation(); $ctrl.onRemoveBtnClick()") #{__('Remove')}
  .inbox-identity-body
    .inbox-identity-name.ellipsis {{ $ctrl.identity.name }}
    .inbox-identity-email.flex-vertical-centered.ellipsis
      i.mdi.mdi-email
      | {{ $ctrl.identity.email }}
    .inbox-identity-reply-to.flex-vertical-centered.ellipsis
      i.mdi.mdi-reply
      | {{ $ctrl.identity.replyTo }}
    div(ng-if="$ctrl.identity.htmlSignature" ng-bind-html="$ctrl.identity.htmlSignature | sanitizeStylisedHtml")
    .inbox-identity-signature.ellipsis(ng-if="$ctrl.identity.textSignature") {{ $ctrl.identity.textSignature }}
