.fadeIn200ms
  infinite-list.inbox-infinite-list(load-more-elements='$ctrl.loadMoreElements()', scroll-inside-container='$ctrl.scrollInsideContainer')
    .listview.lv-bordered.lv-lg(ng-if='$ctrl.elements.length > 0')
      .lv-body
        inbox-quarantine-email-list-item(email='email', download='$ctrl.download(email)', ng-repeat='email in $ctrl.elements')
  .empty-message(ng-if='!$ctrl.elements.length && $ctrl.infiniteScrollCompleted')
    .message
      | #{__('No quarantined email')}
  div(ng-if='$ctrl.infiniteScrollDisabled')
    .text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
