.modal.full-screen.email-view
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close', ng-click='$hide()')
          span(aria-hidden='true') &times;
        h4.modal-title.ellipsis(title='{{::$ctrl.email.headers.Subject[0]}}') {{::$ctrl.email.headers.Subject[0]}}
      .modal-body
        .email-header(ng-click='ctrl.toggleIsCollapsed(email)', ng-class='{"clickable": email.isCollapsed != undefined}')
          .sender-avatar.hidden-xs
            esn-avatar(user-email='$ctrl.email.sender.email')
          .avatarify
            inbox-emailer-display(email='$ctrl.email')

        .email-body
          inbox-message-body(message='$ctrl.email')
      .modal-footer
        button.btn.btn-default(type='button', ng-click='$hide()') #{__('Cancel')}
        button.btn.btn-primary(type='submit', ng-click='$ctrl.download()', title=__('Download (.eml)'))
          i.mdi.mdi-download
