sub-header
  inbox-filters-subheader

.inbox-configuration-filters
  | #{__('You can create rules that will tell OpenPaaS how to handle incoming messages. You choose both the condition that trigger a rule ans the actions the rule will take. Rules will run in order shown in the list below, starting with the rule at the top')}

fab(icon="create" ui-sref="unifiedinbox.configuration.filters.new")