.inbox-root.inbox-aside
  .lv-item.menu-root.menu-heading
    .media
      .media-body
        .title
          .text #{__('Incoming mailbox')}

  inbox-sidebar-unifiedinbox-button
  inbox-sidebar-social-networks
  hr
  inbox-sidebar-email
  inbox-sidebar-configuration-button
  inbox-sidebar-user-quota